<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://github.com/osmansyed18"
        ><i class="fa-brands fa-square-github"></i>
      <a href="https://www.instagram.com/osmansyed18/"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a href="https://www.linkedin.com/in/osmansyed1187"
        ><i class="fa-brands fa-square-linkedin"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; Sellora Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
